In [1]:
#Import packages and load data. 
import pandas as pd
import datetime
import numpy as np
df = pd.read_csv('SWE sample data - Q3 data.csv')

# 1

In [2]:
#Get data with country_id BDV.
df_temp = df['country_id'] == 'BDV'
df_1 = df[df_temp]
#Group by site_id and count the unique number of users.
df_1.groupby(['site_id']).user_id.nunique()

site_id
3POLC      2
5NPAU    544
N0OTG     90
Name: user_id, dtype: int64

# 2

In [3]:
#Change string values to time stemps.
df['ts'] = pd.to_datetime(df['ts'])
#Using mask to find data in between the given time and obtain the dataframe within the given time period.
mask = (df['ts'] >= '2019-02-03') & (df['ts'] < '2019-02-05')
df_2 = df.loc[mask]
#Group by user_id and _site_id, and count numbers of visit. Finally sort by counts and pick the top four.
df_2.groupby(['user_id','site_id']).count().sort_values(by = ['ts']).tail(4)

                 ts  country_id
user_id site_id
LC3C7E  3POLC    15          15
LC3C9D  N0OTG    17          17
LC06C3  N0OTG    25          25
LC3A59  N0OTG    26          26

# 3

In [4]:
#Using mask to find last visit of each user_id and obtain the dataframe with all last visit information.
mask_3 = df.groupby(['user_id']).ts.transform(max) == df['ts']
df_3 = df[mask_3]
#Group by site_id and count number of users visit them. Since we grouped by before, they are already unique data. 
df_3.groupby(['site_id']).user_id.nunique().sort_values(ascending=False)

site_id
5NPAU    992
N0OTG    561
QGO3G    289
GVOFK     42
3POLC     28
RT9Z6      2
JSUUP      1
EUZ/Q      1
Name: user_id, dtype: int64

# 4

In [5]:
#Using mask to find first visit of each user_id and obtain the dataframe with all fisrt visit information.
mask_4 = df.groupby(['user_id']).ts.transform(min) == df['ts']
df_4 = df[mask_4]
df_4 = df_4.rename(columns={"ts": "ts_f", "site_id": "site_id_f"})
#Concate last visit dataframe and first visit dataframe.
df_4 = df_4.sort_values(['user_id']).reset_index().drop(columns=['index'])
df_3 = df_3.sort_values(['user_id']).reset_index().drop(columns=['index'])
df_4['site_id_l'] = df_3['site_id']
#Count number of users that have same first visit and last visit.
mask_4 = df_4['site_id_f'] == df_4['site_id_l']
sum(mask_4)

1670